<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Для определения вашего местоположения и предоставления возможности указать адрес с использованием вашей геопозиции, приложению необходим доступ к вашей геопозиции. Пожалуйста, разрешите доступ к геопозиции, чтобы использовать все функции приложения.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Приложение запрашивает доступ к фотографиям, чтобы у вас появилась возмоджность прикрепить фоотографии к данному объявлению</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
